<br>
<div class="container">
    <h1>Bem vindo Profissional</h1>    
    <br>  
    <div class="card-body">
        <h3 class="card-title">
            {{ cadastrando ? 'Cadastro de Novo Profissional' : 'Entre com seu login' }}
        </h3>
    </div>
    <div class="alert alert-success" *ngIf="mensagemSucesso">
        {{ mensagemSucesso }}
    </div>
    <div class="alert alert-danger" *ngFor="let erro of errors">
        {{ erro }}
    </div>

    <form #loginForm="ngForm" (submit)="onSubmit();">
        <div class="form-row">
        
            <div class="form-group col-md-6"  *ngIf="cadastrando">
                <label for="exampleDropdownFormEmailnome">Nome</label>
                <input class="form-control"  type="text" id="exampleDropdownFormEmailnome" 
                name="nome" [(ngModel)]="nome" >
            </div>
            <div class="form-group col-md-4" *ngIf="cadastrando">
                <label for="exampleDropdownFormEmailcpf">CPF</label>
                <input  class="form-control" type="text" id="exampleDropdownFormEmailcpf" 
                name="cpf" [(ngModel)]="cpf" >
            </div>
            <div class="form-group col-md-6" >
                <label for="exampleDropdownFormEmail1">Email</label>
                <input class="form-control" type="email" id="exampleDropdownFormEmail1" placeholder="email@exemplo.com.br"
                name="email" [(ngModel)]="email" >
            </div>
            <div class="form-group col-md-4" *ngIf="cadastrando">
                <label for="exampleDropdownFormEmailcelular">Celular</label>
                <input  class="form-control" type="text" id="exampleDropdownFormEmailcelular" 
                name="celular" [(ngModel)]="celular" >
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6" >
                <label for="exampleDropdownFormPassword1">Senha</label>
                <input  class="form-control" type="password"  id="exampleDropdownFormPassword1"
                name="senha"   [(ngModel)]="senha" >
            </div>
        </div>

        
        <div  *ngIf="cadastrando">
            <p>Cancelar acesso</p>
            <div class="custom-control custom-radio custom-control-inline">                
                <input type="radio" id="customRadioInline1" name="customRadioInline"  class="custom-control-input"
                [(ngModel)]="ativo" [value]=true checked>
                <label class="custom-control-label" for="customRadioInline1">Não</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="customRadioInline"   class="custom-control-input"
                [(ngModel)]="ativo" [value]=false >
                <label class="custom-control-label" for="customRadioInline2">Sim</label>
            </div>
        </div>

        <div >        
        </div>
        
        <div class="form-group align-items-center justify-content-between mt-4 mb-0">
            <button style="margin: 5px;" type="submit" class="btn btn-secondary" *ngIf="!cadastrando">
                Enviar
            </button>

            <button style="margin: 5px;" type="button" class="btn btn-secondary"
                    (click)="incluir()" *ngIf="cadastrando" >
                Cadastrar
            </button>

            <button style="margin: 5px;" type="button" (click)="cancelaCadastro()"
            class="btn btn-secondary" *ngIf="cadastrando">
                Cancelar
            </button>
        </div>

    </form>

    <br>
    <div class="card-footer text-center">
        <div >
            <a href="#" (click)="preparaCadastrar($event)" >
                Não possui Usuário? Cadastre-se!
            </a>
        </div>
        <div>
            <a href="#" onclick="return false;" data-toggle="modal" data-target="#exampleModal" >Esqueceu a senha?</a>
        </div>        
    </div>
    
</div>

<!-- Modal senha -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Recuperação de Senha</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="alert alert-success" *ngIf="mensagemSucesso2">
                {{ mensagemSucesso2 }}
            </div>
            <div class="alert alert-danger" *ngFor="let erro2 of errors2">
                {{ erro2 }}
            </div>
            <br>
            <h6>Digite seu e-mail para recuperar a sua senha, você receberá a mesma no seu e-mail !</h6>
            <br>
            <br>            
            <form #senhaForm="ngForm" (submit)="esqueceuSenha();">
                <div class="form-group col-md-6" >
                    <label for="exampleDropdownFormEmail4">Email</label>
                    <input  class="form-control" type="email" id="exampleDropdownFormEmail4" placeholder="email@exemplo.com.br"
                    name="emailRec" [(ngModel)]="emailRec" >
                </div>

                <div class="form-group align-items-center justify-content-between mt-4 mb-0">
                    <button style="margin: 5px;" type="submit" class="btn btn-secondary">
                        Recuperar
                    </button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>