<br>
<div class="container">
  <h1>Contratar o Serviço</h1>
  <br>
  <div class="alert alert-success" *ngIf="mensagemSucesso">
      {{ mensagemSucesso }}
  </div>
  <div class="alert alert-danger" *ngFor="let erro of errors">
      {{ erro }}
  </div>
  <br>
  <h4>Serviço: {{tipoServicoProfissionalDTO?.servicoProfissionalDTO?.nome}}</h4>
  <h4>Tipo: {{tipoServicoProfissionalDTO?.nome}}  Valor: {{tipoServicoProfissionalDTO?.preco | currency}}</h4>
  <br>
  <form  #cadForm="ngForm" (submit)="inserir()">  
    <div class="form-row align-items-center">
      <div class="col-auto my-1 col-md-4 mb-3">
        <label  for="inlineFormCustomSelect">Local</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect"
        [(ngModel)]="local" name="local"  >
          <option selected disabled>Selecione</option>
          <option value="Apartamento">Apartamento</option>
          <option value="Casa de um pavimento">Casa de um pavimento</option>
          <option value="Casa de dois pavimentos">Casa de dois pavimentos</option>
          <option value="Casa de mais de dois pavimentos">Casa de mais de dois pavimentos</option>          
          <option value="Sala comercial">Sala comercial</option>
        </select>
      </div>
      <div class="col-auto my-1 col-md-3 mb-3">
        <label  for="inlineFormCustomSelect">Data e turno</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect"
        [(ngModel)]="data" name="data"
        >
          <option value="" selected disabled>Selecione</option>                    
          <option *ngFor="let data of listarAgendaDTO" [value]="data.idAgenda">
              {{data.dia | date: 'dd/MM/yyyy' }} - {{data.turno}}
          </option>
        </select>
      </div>
      <br>
      <div class="col my-1 col-md-7">
        <label for="exampleFormControlTextarea1">Descrição detalhada da situação do local onde o serviço será executado</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Exemplo: O ar condicionado está dentro do telhado" 
        [(ngModel)]="descricao" name="descricao" ></textarea>
      </div>      
      <div class="form-group">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1"
            (click)="habilitar()" >
            <label class="form-check-label" for="exampleCheck1">Aceite no termo de compromisso.
                <a href="" onclick="return false;" data-toggle="modal" data-target="#exampleModal" >  
                    Click aqui para visualizar o termo!</a></label>
        </div>      
      </div>      
    </div>
    <div>
        <button style="margin: 5px;" (click)="backClicked()" type="reset" class="btn btn-secondary" >Voltar</button>
        <button style="margin: 5px;" type="submit" class="btn btn-secondary" [hidden]="!ativar" >Confirmar</button>
    </div>
  </form>
  
  
</div>

<!-- Modal termo de compromisso -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Termo de Compromisso do Serviço</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Eu <strong>{{gerenciarClienteDTO?.nome}}</strong>, declaro ter ciência do compromisso assumido quanto ao serviço contratado através do site <strong>Lar em Dia</strong>, que promove a integração entre o cliente e o prestador de serviço, ainda, possuir capacidade financeira suficiente para honrar o serviço contratado desde que concluído, sendo o pagamento efetuado diretamente ao profissional que prestará o serviço.</p>
          <p>Registramos que o cliente somente poderá cancelar um serviço já agendado/contratado, num prazo de mais de 1 dia de antecedência da data de serviço a ser prestado, caso contrário somente o profissional poderá cancelar, favor entrar em contato com o mesmo se for o caso.</p>
          <p><strong>Nome do profissional: </strong>{{gerenciarProfissionalDTO?.nome}} - <strong>Celular do profissional: </strong>{{gerenciarProfissionalDTO?.celular}}</p>          
          <p>Resaltamos que o profissional poderá cancelar o serviço já agendado pelo cliente a qualquer momento, por quaisquer motivos sendo-lhe respeitado a sua vontade no presente compromisso.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>