<br>
<div class="container">
    <h1>Lista de Serviços Profissionais</h1>
        <button style="margin: 5px;" [routerLink]="['/cadastrarservico']" type="reset" class="btn btn-secondary" >Novo</button>
        <br>
        <br>
        <div class="table-responsive">            
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">Onde será o serviço</th>
                      <th scope="col">Tipo do serviço</th>
                      <th scope="col">Preço</th>
                      <th scope="col">Ativo</th>
                      <th scope="col">Ação</th>                      
                    </tr>
                  </thead>
                  <tbody *ngFor="let dado of listaTipoServicoProfissionalDTO" >
                    <tr>
                      <td>{{ dado.servicoProfissionalDTO?.nome }}</td>
                      <td>{{ dado.nome }}</td>
                      <td>{{ dado.preco | currency }}</td>
                      <td>{{ dado.servicoProfissionalDTO?.ativo ? 'Sim' : 'Não' }}</td>
                      <td>
                        <a href="" style="padding-left: 10px;" onclick="return false;" (click)="alterarServicoTipo(dado.idTipo)">Alterar</a>
                        <a href="" style="padding-left: 10px;" onclick="return false;" (click)="incluirServicoTipo(dado.servicoProfissionalDTO?.idServico)">Incluir Tipo</a>
                      </td>
                      
                    </tr>
                  </tbody>
            </table>
        </div>
        <br>
        <button style="margin: 5px;" [routerLink]="['/gerenciarprofissional']" type="reset" class="btn btn-secondary" >Voltar</button>
</div>