<div class="externa" >
    <p-toast></p-toast>
<div class="interna">
    <h1>
        <img [routerLink]="['/']" src="../assets/img/logo-lar-em-dia.png" height="80" style="padding: 5px;" class="p-mr-2">
        Bem vindo Cliente
    </h1>
    <br>  
    <div class="card-body">
        <h3 class="card-title">
            {{ cadastrando ? 'Cadastro de Novo Cliente' : 'Entre com seu login' }}
        </h3>
    </div>
    <form #loginForm="ngForm" (submit)="onSubmit();">
        <div class="form-row">    
            <div class="form-group col-md-12" *ngIf="cadastrando">
                <label for="exampleDropdownFormEmailnome"><h5>Nome</h5></label>
                <input class="form-control" type="text" id="exampleDropdownFormEmailnome" 
                name="nome" [(ngModel)]="nome" >            
            </div>
            <div class="form-group" >
                <label for="exampleDropdownFormEmail1"><h5>E-mail</h5></label>
                <input  class="form-control email" type="email" id="exampleDropdownFormEmail1" 
                name="email" [(ngModel)]="email" >
            </div>            
        </div>

        <div class="form-row">
            <div class="form-group col-md-6" *ngIf="cadastrando">
                <label for="exampleDropdownFormEmailcpf"><h5>CPF</h5></label>
                <input  class="form-control" type="text" id="exampleDropdownFormEmailcpf" 
                name="cpf" [(ngModel)]="cpf" >
            </div>
            <div class="form-group col-md-6" *ngIf="cadastrando">
                <label for="exampleDropdownFormEmailcelular"><h5>Celular</h5></label>
                <input  class="form-control" type="text" id="exampleDropdownFormEmailcelular" 
                name="celular" [(ngModel)]="celular" >
            </div>
        </div>

        <div class="form-row" *ngIf="cadastrando">
            <div class="form-group col-md-9" >
                <label for="Ender"><h5>Endereço</h5></label>
                <input class="form-control"  type="text" id="Ender" 
                name="endereco" [(ngModel)]="endereco" >
            </div>
            <div class="form-group col-md-3" >
                <label for="Number"><h5>Número</h5></label>
                <input class="form-control"  type="text" id="Number"
                name="numero" [(ngModel)]="numero" >
            </div>
        </div>

        <div class="form-row" *ngIf="cadastrando" >
            <div  class="form-group col-md-6"  >
                <label for="Bairro"><h5>Bairro</h5></label>
                <input class="form-control"  type="text" id="Bairro" 
                name="bairro" [(ngModel)]="bairro" >
            </div>
            <div class="form-group col-md-6" >
                <label for="Complement"><h5>Complemento</h5></label>
                <input class="form-control"  type="text" id="Complement" 
                name="complemento" [(ngModel)]="complemento" >
            </div>
        </div>

        <div class="form-row" *ngIf="cadastrando">

            <div class="form-group col-md-4" >
                <label for="exampleFormControlSelect1"><h5>Estado</h5></label>
                <select class="form-control" id="exampleFormControlSelect1"
                [(ngModel)]="estado" name="estado"
                (change)="tipoAcaoUf($event.target.value)"               
                >
                    <option value="" selected disabled>Selecione</option>
                    <option *ngFor="let estado of listaEstadoAtendidoDTO" [value]="estado.idEstado">{{estado.uf}}</option>
                </select>
            </div>

            <div class="form-group col-md-8" >
                <label for="exampleFormControlSelect2"><h5>Município</h5></label>
                <select class="form-control" id="exampleFormControlSelect2"
                [(ngModel)]="municipio" name="municipio"             
                >
                    <option value="" selected disabled>Selecione</option>
                    <option *ngFor="let municipio of listaMunicipioAtendidoDTO" [value]="municipio.idMunicipio">{{municipio.municipio}}</option>
                </select>
            </div>
        </div>

        <div class="form-row" *ngIf="cadastrando"> 
            <div class="form-group col-md-12" >
                <label for="Refe"><h5>Referência</h5></label>
                <input  class="form-control" type="text" id="Refe" 
                name="referencia" [(ngModel)]="referencia" >
            </div>
        </div>

        <div class="form-row">
            <div class="form-group" >
                <h5>Senha</h5>
                <p-password name="senha" [(ngModel)]="senha" [toggleMask]="true" ></p-password>
            </div>
        </div>

        <div  *ngIf="cadastrando">            
            <h5>Cancelar acesso</h5>
            <div class="custom-control custom-radio custom-control-inline">                
                <input type="radio" id="customRadioInline1" name="customRadioInline"  class="custom-control-input"
                [(ngModel)]="ativo" [value]=true value="true" checked>
                <label class="custom-control-label" for="customRadioInline1">Não</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="customRadioInline"  class="custom-control-input"
                [(ngModel)]="ativo" [value]=false value="false">
                <label class="custom-control-label" for="customRadioInline2">Sim</label>
            </div>
        </div>
        <br>  
            <div class="enviar">
                <button *ngIf="!cadastrando" pButton pRipple type="submit" label="Enviar" class="p-button-lg p-button-rounded" ></button>
            </div>

            <div class="form-group align-items-center justify-content-between mt-4 mb-0">    
                <button *ngIf="cadastrando" (click)="incluir()" style="margin: 5px;" pButton type="button" label="Salvar" class="p-button p-button-rounded p-button-warning" ></button>
                    
                <button *ngIf="cadastrando" (click)="cancelaCadastro()" style="margin: 5px;" pButton type="button" label="Cancelar" class="p-button p-button-rounded p-button-danger" ></button>
            </div>
    </form> 
    <br>    
    
    <div class="text-center">
        <div >
            <a href="#" (click)="preparaCadastrar($event)" *ngIf="!cadastrando" >
                Não possui usuário? Cadastre-se aqui!
            </a>
        </div>
        <div>
            <a href="#" onclick="return false;" data-toggle="modal" data-target="#exampleModal" *ngIf="!cadastrando">
                Esqueceu a senha?
            </a>
        </div>        
    </div>
    
</div>
</div>


<!-- Modal senha -->
<div class="modal fade moda" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <p-toast key="sen"></p-toast>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Recuperação de Senha</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <br>
            <h6>Digite seu e-mail para recuperar a sua senha, você receberá a mesma no seu e-mail !</h6>
            <br>
            <br>            
            <form #senhaForm="ngForm" (submit)="esqueceuSenha();">
                <div class="form-group col-md-6" >
                    <label for="exampleDropdownFormEmail4"><h5>E-mail</h5></label>
                    <input  class="form-control" type="email" id="exampleDropdownFormEmail4"
                    name="emailRec" [(ngModel)]="emailRec" >
                </div>

                <div class="form-group align-items-center justify-content-between mt-4 mb-0">
                    <button style="margin: 5px;" pButton pRipple type="submit" label="Recuperar" class="p-button p-button-rounded" ></button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" style="margin: 5px;" pButton pRipple type="button" label="Fechar" class="p-button p-button-rounded p-button-secondary" ></button>
        </div>
      </div>
    </div>
</div>