<br>
<div class="container">
    <h1>Bem vindo Cliente</h1>    

    <div class="card-header">
        <h3 class="text-center font-weight-light my-4">
            {{ cadastrando ? 'Cadastro de Novo Cliente' : 'Entre com seu login' }}
        </h3>
    </div>
    <div class="alert alert-success" *ngIf="mensagemSucesso">
        {{ mensagemSucesso }}
    </div>

    <div class="alert alert-danger" *ngFor="let erro of errors">
        {{ erro }}
    </div>

    <form #loginForm="ngForm" (submit)="onSubmit();">
    
        <div *ngIf="cadastrando">
            <label for="exampleDropdownFormEmailnome">Nome</label>
            <input type="text" id="exampleDropdownFormEmailnome" 
            name="nome" [(ngModel)]="nome" >            
        </div>
        <div *ngIf="cadastrando">
            <label for="exampleDropdownFormEmailcpf">CPF</label>
            <input type="text" id="exampleDropdownFormEmailcpf" 
            name="cpf" [(ngModel)]="cpf" >
        </div>
        <div >
            <label for="exampleDropdownFormEmail1">Email</label>
            <input type="email" id="exampleDropdownFormEmail1" placeholder="email@exemplo.com.br"
            name="email" [(ngModel)]="email" >
        </div>
        <div *ngIf="cadastrando">
            <label for="exampleDropdownFormEmailcelular">Celular</label>
            <input type="text" id="exampleDropdownFormEmailcelular" 
            name="celular" [(ngModel)]="celular" >
        </div>
        <div>
            <label for="exampleDropdownFormPassword1">Senha</label>
            <input type="password"  id="exampleDropdownFormPassword1"            
            name="senha" [(ngModel)]="senha" >
        </div>
        <div *ngIf="cadastrando">
            <label for="Ender">Endereço</label>
            <input type="text" id="Ender" 
            name="endereco" [(ngModel)]="endereco" >

            <label for="Number">Número</label>
            <input type="text" id="Number"
            name="numero" [(ngModel)]="numero" >
        </div>
        <div *ngIf="cadastrando">
            <label for="Bairro">Bairro</label>
            <input type="text" id="Bairro" 
            name="bairro" [(ngModel)]="bairro" >

            <label for="Complement">Complemento</label>
            <input type="text" id="Complement" 
            name="complemento" [(ngModel)]="complemento" >
        </div>

        <div class="form-group" *ngIf="cadastrando">
            <label for="exampleFormControlSelect1">Estado</label>
            <select class="form-control" id="exampleFormControlSelect1"
            [(ngModel)]="estado" name="estado">
                <option value="" selected>Selecione</option>
                <option value="RJ" >RJ</option>
            </select>
        </div>
        <div class="form-group" *ngIf="cadastrando">
            <label for="exampleFormControlSelect2">Município</label>
            <select class="form-control" id="exampleFormControlSelect2"
            [(ngModel)]="municipio" name="municipio" >
                <option value="" selected>Selecione</option>
                <option value="Nova Iguaçu" >Nova Iguaçu</option>
                <option value="São João de Meriti" >São João de Meriti</option>
            </select>
        </div>
        <div  *ngIf="cadastrando">
            <label for="Refe">Referência</label>
            <input type="text" id="Refe" 
            name="referencia" [(ngModel)]="referencia" >
        </div>          
        <div  *ngIf="cadastrando">            
            <p>Cancelar acesso</p>
            <div class="custom-control custom-radio custom-control-inline">                
                <input type="radio" id="customRadioInline1" name="customRadioInline" class="custom-control-input"
                [(ngModel)]="ativo" [value]=true value="true" >
                <label class="custom-control-label" for="customRadioInline1">Não</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="customRadioInline" class="custom-control-input"
                [(ngModel)]="ativo" [value]=false value="false">
                <label class="custom-control-label" for="customRadioInline2">Sim</label>
            </div>
        </div>
        <br>    
        
        <div class="form-group align-items-center justify-content-between mt-4 mb-0">
            <button type="submit" class="btn btn-primary" *ngIf="!cadastrando">
                Enviar
            </button>

            <button type="button" class="btn btn-success" 
                    (click)="incluir()"
                    *ngIf="cadastrando">
                Cadastrar
            </button>

            <button type="button" (click)="cancelaCadastro()"
                    class="btn btn-danger ml-1" *ngIf="cadastrando">
                Cancelar
            </button>
        </div>
        
        
    </form> 
    <div></div>   
    <div class="card-footer text-center">
        <div class="small">
            <a href="#" (click)="preparaCadastrar($event)" >
                Não possui Usuário? Cadastre-se!
            </a>
        </div>
        <a href="#">Esqueceu a senha?</a>
    </div>
    
</div>