<p-dialog [(visible)]="visible"
          [draggable]="false"
          [modal]="true"
          [resizable]="false"          
          OkableMask="false"
          (onHide)="fechar()"
          *ngIf="pedidoContratado"
          id="modal-valores"
          styleClass="valores-dialog"
          >
    <p-header>
        <strong>Fechar o Pedido nº {{pedidoContratado.idPedido}} do(a) Cliente {{pedidoContratado.loginClienteDTO.nome}} </strong>
    </p-header>
    <div class="alert alert-success" *ngIf="mensagemSucesso">
        {{ mensagemSucesso }}
    </div>
    <div class="alert alert-danger" *ngFor="let erro of errors">
        {{ erro }}
    </div>
    <br>

            <form  #cadForm="ngForm" (submit)="salvar(pedidoContratado.idPedido)">

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="dataInicial" >Data e hora do início</label>
                        <p-calendar showTime="true" hourFormat="24"  id="dataInicial"
                                        styleClass="calendario form-control"
                                        dateFormat="dd/mm/yy"
                                        yearRange="2021:2200"
                                        name="dataInicial" [(ngModel)]="dataInicial"
                                        showIcon="true"
                                        [showButtonBar]="true"
                                        dataType="string"
                                        ></p-calendar>
                    </div>
                
                    <div class="form-group col-md-3">
                        <label for="dataFinal" >Data e hora do fim</label>
                        <p-calendar showTime="true" hourFormat="24"  id="dataFinal"
                                        styleClass="calendario form-control main-container"
                                        dateFormat="dd/mm/yy"
                                        yearRange="2021:2200"
                                        name="dataFinal" [(ngModel)]="dataFinal"
                                        showIcon="true"
                                        [showButtonBar]="true"
                                        dataType="string"
                                        ></p-calendar>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="despesas" >Despesas realizadas</label>
                        <input currencyMask 
                            name="despesas" [(ngModel)]="despesas"
                            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                            Class="form-control" id="despesas"/>
                    </div>
                </div>
                
            
        
        
    <p-footer> 
        <div class="row">
            <div class="col-12 linha-footer"></div>
        </div>
        <button (click)="fechar()"
                class="btn btn-sm btn-secondary pull-left"
                aria-label="Fechar" type="button">
            <span>Fechar</span> 
        </button>
        <button type="submit"
                class="btn btn-sm margin-3x btn-secondary pull-right"
                title="Clique para salvar"                 
                >
            <span>Salvar</span>
        </button>  
    </p-footer>
    </form>
</p-dialog>
