::ng-deep .valores-dialog {
    width: 70%;
    height: 900%;
}

::ng-deep .valores-dialog .p-dialog-content{
    height: 100%;
}

.main-container ::ng-deep p-calendar .ui-datepicker {
    width: auto !important;
  }
