<br>
<div class="container">    
    <p-toast></p-toast>
    <h1>Alteração do Serviço Profissional</h1>  
    <br>  
    <br>
    <form   #cadForm="ngForm" (submit)="alterar()">
        <input type="text" id="id" name="idServico" [(ngModel)]="idServico" hidden >     

        <div class="form-row">
            <div class="form-group col-md-6"  >
                <label for="exampleDropdownFormEmailnome"><h5>Onde será o serviço</h5></label>
                <input  class="form-control" type="text" id="exampleDropdownFormEmailnome" 
                name="nomeServico" [(ngModel)]="nomeServico" >
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6"  >
                <label for="exampleDropdownFormEmailcpf"><h5>Tipo do serviço</h5></label>
                <input  class="form-control" type="text" id="exampleDropdownFormEmailcpf" 
                name="nomeTipo" [(ngModel)]="nomeTipo" >
            </div>        
        </div>        

        <div class="form-row">
            <div class="form-group col-md-2"  >
                <label for="exampleDropdownFormEmailcelular"><h5>Preço</h5></label>
                <input  class="form-control" type="text" id="exampleDropdownFormEmailcelular" 
                name="preco" [(ngModel)]="preco" 
                currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                >
            </div>
        </div>
        <div>
            <h5>Cancelar serviço</h5>
            <div class="custom-control custom-radio custom-control-inline">                
                <input type="radio" id="customRadioInline1" name="customRadioInline" class="custom-control-input" 
                [(ngModel)]="ativo" [value]=true value="true" >
                <label class="custom-control-label" for="customRadioInline1">Não</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="customRadioInline" class="custom-control-input"
                [(ngModel)]="ativo" [value]=false value="false">
                <label class="custom-control-label" for="customRadioInline2">Sim</label>
            </div>
        </div>
        <br>
        <button style="margin: 5px;" pButton type="submit" label="Salvar" class="p-button p-button-rounded p-button-warning" ></button>
        <button style="margin: 5px;" [routerLink]="['/listarservico']" pButton type="reset" label="Voltar" class="p-button p-button-rounded p-button-secondary" ></button>
    </form>
</div>