<br>
<div class="container">    
    <h1>Alteração do Serviço Profissional</h1>  
    <br>  
    <div class="alert alert-success" *ngIf="mensagemSucesso">
        {{ mensagemSucesso }}
    </div>
    <div class="alert alert-danger" *ngFor="let erro of errors">
        {{ erro }}
    </div>
    <form   #cadForm="ngForm" (submit)="alterar()">
        <input type="text" id="id" name="idServico" [(ngModel)]="idServico" hidden >     

        <div class="form-row">
            <div class="form-group col-md-6"  >
                <label for="exampleDropdownFormEmailnome">Onde será o serviço</label>
                <input  class="form-control" type="text" id="exampleDropdownFormEmailnome" 
                name="nomeServico" [(ngModel)]="nomeServico" >
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6"  >
                <label for="exampleDropdownFormEmailcpf">Tipo do serviço</label>
                <input  class="form-control" type="text" id="exampleDropdownFormEmailcpf" 
                name="nomeTipo" [(ngModel)]="nomeTipo" >
            </div>        
        </div>        

        <div class="form-row">
            <div class="form-group col-md-2"  >
                <label for="exampleDropdownFormEmailcelular">Preço</label>
                <input  class="form-control" type="text" id="exampleDropdownFormEmailcelular" 
                name="preco" [(ngModel)]="preco" 
                currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                >
            </div>
        </div>
        <div>
            <p>Cancelar serviço</p>
            <div class="custom-control custom-radio custom-control-inline">                
                <input type="radio" id="customRadioInline1" name="customRadioInline" class="custom-control-input" 
                [(ngModel)]="ativo" [value]=true value="true" >
                <label class="custom-control-label" for="customRadioInline1">Não</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="customRadioInline" class="custom-control-input"
                [(ngModel)]="ativo" [value]=false value="false">
                <label class="custom-control-label" for="customRadioInline2">Sim</label>
            </div>
        </div>
        <br>
        <button style="margin: 5px;" [routerLink]="['/listarservico']" type="reset" class="btn btn-secondary" >Voltar</button>
        <button style="margin: 5px;" type="submit" class="btn btn-secondary" >Salvar</button>
    </form>
</div>