<br>
<div class="container-fluid">
    <p-toast></p-toast>
    <h1>Acompanhar Pedidos Realizados</h1>    
    <br>

    <!-- Modal de Contato com profisisonal -->
    <app-modal-contato [(visible)]="exibirDetalhar" ></app-modal-contato>

        <!-- tabela primeng -->
        <p-table #table
            [value]="listaPedidosClienteDTO"
            [rowHover]="true"
            [rows]="10"
            [rowsPerPageOptions]="[10, 25, 100]"
            [paginator]="true"
            [showCurrentPageReport]="true"
            styleClass="p-datatable-striped"
            stateStorage="session"
            stateKey="pedidosState"
            sortMode="multiple"
            currentPageReportTemplate="Total de registros: {totalRecords}">

            <!-- filtro -->
            <ng-template pTemplate="header">
                <tr>                    
                    <th class="textCenter inputCemPorcento" pSortableColumn="nomeServico" scope="col">
                        Onde será o serviço<p-sortIcon field="nomeServico"></p-sortIcon>
                    </th>
                    <th class="textCenter inputOitentaPorcento" pSortableColumn="nomeTipoServico" scope="col">
                        Tipo do serviço<p-sortIcon field="nomeTipoServico"></p-sortIcon>
                    </th>
                    <th class="textCenter inputOitentaPorcento" pSortableColumn="precoContratadoFmt" scope="col">
                        Preço<p-sortIcon field="precoContratadoFmt"></p-sortIcon>
                    </th>
                    <th class="textCenter inputOitentaPorcento" pSortableColumn="dia" scope="col">
                        Serviço agendado em<p-sortIcon field="dia"></p-sortIcon>
                    </th>
                    <th class="textCenter inputOitentaPorcento"  pSortableColumn="dataFim" scope="col">
                        Finalizado<p-sortIcon field="dataFim"></p-sortIcon>
                    </th>
                    <th class="textCenter inputTrintaPorcento" scope="col">Ações</th>
                </tr>
                <tr>
                    <th>
                        <input pInputText class="inputCemPorcento"
                                type="text"
                                [value]="table.filters.nomeServico ? table.filters.nomeServico['value'] : ''" 
                                (input)="table.filter($event.target.value, 'nomeServico', 'contains')"/>
                    </th>
                    <th>
                        <input pInputText class="inputOitentaPorcento"
                                type="text"
                                [value]="table.filters.nomeTipoServico ? table.filters.nomeTipoServico['value'] : ''" 
                                (input)="table.filter($event.target.value, 'nomeTipoServico', 'contains')"/>
                    </th>
                    <th>
                        <input pInputText class="inputOitentaPorcento"
                                type="text"
                                [value]="table.filters.precoContratadoFmt ? table.filters.precoContratadoFmt['value'] : ''" 
                                (input)="table.filter($event.target.value, 'precoContratadoFmt', 'contains')"/>
                    </th>
                    <th>
                        <input pInputText class="inputOitentaPorcento"
                                type="date"
                                [value]="table.filters.dia ? table.filters.dia['value'] : ''" 
                                (input)="table.filter($event.target.value, 'dia', 'contains')"/>
                    </th>
                    <th>
                        <input pInputText class="inputOitentaPorcento"
                                type="date"
                                [value]="table.filters.dataFim ? table.filters.dataFim['value'] : ''" 
                                (input)="table.filter($event.target.value, 'dataFim', 'contains')"/>
                    </th>
                    <th></th>
                </tr>
            </ng-template>

            <!-- listagem da tabela -->
            <ng-template pTemplate="body" let-dado>
                <tr class="ui-selectable-row" >
                    <td>{{ dado.nomeServico }}</td>
                    <td>{{ dado.nomeTipoServico }}</td>
                    <td  class="textRight" >{{ dado.precoContratadoFmt }}</td>
                    <td>{{ dado.dia | date: 'dd/MM/yyyy'  }} - {{ dado.turno }}</td>
                    <td>{{ dado.dataFim == null || dado.dataFim == undefined ? 'Aguardando' : dado.dataFim | date: 'dd/MM/yyyy HH:mm' }}</td>

                    <td  class="textCenter" *ngIf="dado.dataFim == null || dado.dataFim == undefined" >
                        <a (click)="showConfirm(dado.idPedido, dado.idAgenda)" href="" onclick="return false;" >
                            <i class="fa fa-ban" title="Cancelar um pedido agendado."></i>
                        </a>
                    </td>
                    <td *ngIf="dado.dataFim != null || dado.dataFim != undefined" ></td>
                    <p-toast position="top-center" key="ex" (onClose)="onReject()" [baseZIndex]="5000">
                        <ng-template let-message pTemplate="message">
                            <div class="p-flex p-flex-column" style="flex: 1">
                                <div class="p-text-center">
                                    <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                                    <h4>{{message.summary}}</h4>
                                    <p>{{message.detail}}</p>
                                </div>
                                <div class="p-grid p-fluid">
                                    <div class="p-col-3">
                                        <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                                    </div>
                                    <div class="p-col-3">
                                        <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-toast>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6" style="text-align:left">Não existem registros cadastrados.</td>
                </tr>
            </ng-template>
        </p-table>

    <div class="form-row">
        <div class="ml-auto p-2 bd-highlight">
            <button (click)="voltar()" style="margin: 5px;" pButton type="reset" label="Voltar" class="p-button p-button-rounded p-button-secondary" ></button>
        </div>
    </div>

</div>