<div class="externa" >
    <p-toast></p-toast>
<div class="interna">

    <h1>Gerenciar Acesso do Cliente</h1>
    <br>

    <div class="form-row">
        <div class="form-group col-md-2" *ngIf="gerenciarClienteDTO?.foto != null || gerenciarClienteDTO?.foto != undefined" >
            <img class="rounded-circle" width="80" height="80" src="data:image/jpg;base64,{{gerenciarClienteDTO.foto}}"  />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="file" class="custom-file-input" id="validatedCustomFile" 
            name="foto" (change)="uploadFoto($event)" >
            <label class="custom-file-label" for="validatedCustomFile">Selecione uma foto</label>
        </div>
    </div>


    <form   #cadForm="ngForm" (submit)="alterar()">
        <div  *ngIf="gerenciarClienteDTO" >
            <div class="form-row">        
                <div class="form-group col-sm-8" >
                    <label for="exampleDropdownFormEmailnome"><h5>Nome</h5></label>
                    <input  class="form-control" type="text" id="exampleDropdownFormEmailnome" 
                    name="nome" [(ngModel)]="gerenciarClienteDTO.nome" >            
                </div>
            
                <div class="form-group col-sm-4" >
                    <label for="exampleDropdownFormEmailcpf"><h5>CPF</h5></label>
                    <input  class="form-control" type="text" id="exampleDropdownFormEmailcpf" 
                    name="cpf" [(ngModel)]="gerenciarClienteDTO.cpf" >
                </div>
                
                <div class="form-group col-md-8">
                    <label for="exampleDropdownFormEmail1"><h5>E-mail</h5></label>
                    <input class="form-control"  type="email" id="exampleDropdownFormEmail1" placeholder="email@exemplo.com.br"
                    name="email" [(ngModel)]="gerenciarClienteDTO.email" >
                </div>
                <div class="form-group col-md-4" >
                    <label for="exampleDropdownFormEmailcelular"><h5>Celular</h5></label>
                    <input  class="form-control" type="text" id="exampleDropdownFormEmailcelular" 
                    name="celular" [(ngModel)]="gerenciarClienteDTO.celular" >
                </div>
                
            </div>

            <div class="form-row">                
                <div class="form-group col-md-10" >
                    <label for="Ender"><h5>Endereço</h5></label>
                    <input  class="form-control" type="text" id="Ender"                     
                    name="endereco" [(ngModel)]="gerenciarClienteDTO.endereco" >
                </div>
                <div class="form-group col-md-2" >
                    <label for="Number"><h5>Número</h5></label>
                    <input  class="form-control" type="text" id="Number"
                    name="numero" [(ngModel)]="gerenciarClienteDTO.numero" >                        
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6" >
                    <label for="Bairro"><h5>Bairro</h5></label>
                    <input  class="form-control" type="text" id="Bairro" 
                    name="bairro" [(ngModel)]="gerenciarClienteDTO.bairro" >
                </div>
                <div class="form-group col-md-6" >
                    <label for="Complement"><h5>Complemento</h5></label>
                    <input  class="form-control" type="text" id="Complement" 
                    name="complemento" [(ngModel)]="gerenciarClienteDTO.complemento" >
                </div>
            </div>

            <div class="form-row">            
                <div class="form-group col-md-3" >
                    <label for="exampleFormControlSelect1"><h5>Estado</h5></label>
                    <select class="form-control" id="exampleFormControlSelect1"
                    [(ngModel)]="estado" name="estado"
                    (change)="tipoAcaoUf($event.target.value)"                      
                    >
                        <option value="" selected disabled>Selecione</option>
                        <option *ngFor="let estado of listaEstadoAtendidoDTO" [value]="estado.idEstado" >{{ estado.uf }}</option>
                    </select>
                </div>

                <div class="form-group col-md-9" >
                    <label for="exampleFormControlSelect2"><h5>Município</h5></label>
                    <select class="form-control" id="exampleFormControlSelect2"
                    [(ngModel)]="municipio" name="municipio"
                    >
                        <option value="" selected disabled>Selecione</option>                    
                        <option *ngFor="let municipio of listaMunicipioAtendidoDTO" [value]="municipio.idMunicipio">{{municipio.municipio}}</option>
                    </select>
                </div>
            </div>

            <div class="form-row">            
                <div class="form-group col-md-12" >          
                    <label for="Refe"><h5>Referência</h5></label>
                    <input  class="form-control" type="text" id="Refe" 
                    name="referencia" [(ngModel)]="gerenciarClienteDTO.referencia" >          
                </div>            
            </div>

            <div class="form-row">
                <div class="form-group col-md-8" >
                    <h5>Senha</h5>
                    <p-password name="senha" [(ngModel)]="gerenciarClienteDTO.senha" [toggleMask]="true" ></p-password>
                </div>
            </div>

            <!-- <div class="form-row">            
                <div class="form-group col-md-8" >
                    <label for="exampleDropdownFormPassword1"><h5>Senha</h5></label>
                    <input  class="form-control" type="password"  id="exampleDropdownFormPassword1"            
                    name="senha" [(ngModel)]="gerenciarClienteDTO.senha" >
                </div>            
            </div> -->
            
            
            <h5>Cancelar acesso</h5>
            <div class="custom-control custom-radio custom-control-inline">                
                <input type="radio" id="customRadioInline1" name="customRadioInline"  class="custom-control-input"
                [(ngModel)]="gerenciarClienteDTO.ativo" [value]=true value="true" checked>
                <label class="custom-control-label" for="customRadioInline1">Não</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="customRadioInline"  class="custom-control-input form-control"
                [(ngModel)]="gerenciarClienteDTO.ativo" [value]=false value="false">
                <label class="custom-control-label" for="customRadioInline2">Sim</label>
            </div>
            <div class="form-row">
                <div class="ml-auto p-2 bd-highlight">
                    <button style="margin: 5px;" pButton type="submit" label="Salvar" class="p-button p-button-rounded p-button-warning" ></button>
                </div>
            </div>
        </div>
    </form> 
</div>
</div>
