
<div class="row row-cols-1 row-cols-md-3 justify-content-center" >
    <div class="col mb-4">
    <div class="card h-100">
        <img src="../assets/img/logo-acesso-cliente.jpg" class="rounded"  width="300" height="300"
        [routerLink]="['/logincliente']"
        >
        <div class="card-body">
        <h5 class="card-title">Cliente</h5>          
        </div>
    </div>
    </div>
    <div class="col mb-4">
    <div class="card h-100">
        <img src="../assets/img/logo-acesso-profissional.jpg" class="rounded" width="300" height="300"
        [routerLink]="['/loginprofissional']"
        >
        <div class="card-body">
        <h5 class="card-title">Profisisonal</h5>
        </div>
    </div>
    </div>        
</div>
<br>
<div class="d-flex justify-content-center" >
    <div  >
        <label for="exampleDropdownFormPassword1">Logout -> </label>
            <a href="#" (click)="logout()"><strong> Sair&nbsp;&nbsp;</strong></a>
    </div>
    <div  >
        <label for="exampleDropdownFormPassword2">  Usuário(a) Logado(a):</label>
        <strong>&nbsp;&nbsp;{{usuarioLogado}}</strong>
    </div>        
</div>