
<div class="row row-cols-1 row-cols-md-3 justify-content-center" >
    <div class="col mb-4">
    <div class="card h-100">
        <img src="../assets/img/logo-acesso-cliente.jpg" class="rounded"  width="300" height="300">
        <div class="card-body">
        <h5 class="card-title">Cliente</h5>          
        </div>
    </div>
    </div>
    <div class="col mb-4">
    <div class="card h-100">
        <img src="../assets/img/logo-acesso-profissional.jpg" class="rounded" width="300" height="300"
        [routerLink]="['/loginprofissional']"
        >
        <div class="card-body">
        <h5 class="card-title">Profisisonal</h5>
        </div>
    </div>
    </div>        
</div>

<div>
    <div>Logout</div>
    <div class="card-footer text-center">
        <div class="small">
            <a href="#" (click)="logout()" >
                Sair
            </a>
        </div>    
    </div>
    <div>Usuário Logado</div>
    <div class="card-footer text-center">
        <div class="small">
            {{usuarioLogado}}
        </div>    
    </div>
</div>
