
.externa {
    position: relative;
    width:100%;
    height:600px;
}

.interna {
    left:50%;
    top:50%;
    margin-left:-360px; /* Metade do valor da Largura */
    margin-top:-300px; /* Metade da valor da Altura */
    position:absolute;
    width:720px; /* Valor da Largura */
    height:600px; /* Valor da Altura */
}

:host ::ng-deep .p-password input {
    width: 30rem;
}