<br>

<div class="container">
    <h1>Gerenciar Acesso do Profissional</h1>        
    
    <div class="alert alert-success" *ngIf="mensagemSucesso">
        {{ mensagemSucesso }}
    </div>

    <div class="alert alert-danger" *ngFor="let erro of errors">
        {{ erro }}
    </div>

    <div class="row no-gutters">
        <div class="col-6 col-md-4" *ngIf="gerenciarProfissionalDTO?.foto != null || gerenciarProfissionalDTO?.foto != undefined" >
            <img width="60" height="50" src="data:image/jpg;base64,{{gerenciarProfissionalDTO.foto}}"  />
        </div>
        <div class="col-sm-6 col-md-8">
            <input type="file" class="custom-file-input" id="validatedCustomFile" 
            name="foto" (change)="uploadFoto($event)" >
            <label class="custom-file-label" for="validatedCustomFile">Selecione uma foto</label>
        </div>        
    </div>
    
    <div  *ngIf="gerenciarProfissionalDTO" >
    <form   #cadForm="ngForm" (submit)="alterar()">

        <div >
            <label for="exampleDropdownFormEmailnome">Nome</label>
            <input type="text" id="exampleDropdownFormEmailnome" 
            name="nome" [(ngModel)]="gerenciarProfissionalDTO.nome" >
        </div>
        <div >
            <label for="exampleDropdownFormEmailcpf">CPF</label>
            <input type="text" id="exampleDropdownFormEmailcpf" 
            name="cpf" [(ngModel)]="gerenciarProfissionalDTO.cpf" >
        </div>
        <div>
            <label for="exampleDropdownFormEmail1">Email</label>
            <input type="email" id="exampleDropdownFormEmail1" placeholder="email@exemplo.com.br"
            name="email" [(ngModel)]="gerenciarProfissionalDTO.email" >
        </div>
        <div>
            <label for="exampleDropdownFormEmailcelular">Celular</label>
            <input type="text" id="exampleDropdownFormEmailcelular" 
            name="celular" [(ngModel)]="gerenciarProfissionalDTO.celular" >
        </div>
        <div>
            <label for="exampleDropdownFormPassword1">Senha</label>
            <input type="password"  id="exampleDropdownFormPassword1"
            name="senha" [(ngModel)]="gerenciarProfissionalDTO.senha" >
        </div>
        <div>
            <p>Cancelar acesso</p>
            <div class="custom-control custom-radio custom-control-inline">                
                <input type="radio" id="customRadioInline1" name="customRadioInline" class="custom-control-input" 
                [(ngModel)]="gerenciarProfissionalDTO.ativo" [value]=true value="true" >
                <label class="custom-control-label" for="customRadioInline1">Não</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="customRadioInline" class="custom-control-input"
                [(ngModel)]="gerenciarProfissionalDTO.ativo" [value]=false value="false">
                <label class="custom-control-label" for="customRadioInline2">Sim</label>
            </div>
        </div>
        <br>
        <button [routerLink]="['/listarservico']" type="reset" class="btn btn-secondary" >Serviços</button>
        <button type="submit" class="btn btn-secondary" >Salvar</button>
    </form>
</div>
</div>

    <div>
        <div>Logout</div>
        <div class="card-footer text-center">
            <div class="small">
                <a href="#" (click)="logout()" >
                    Sair
                </a>
            </div>    
        </div>
        <div>Usuário Logado</div>
        <div class="card-footer text-center">
            <div class="small">
                {{usuarioLogado}}
            </div>    
        </div>
    </div>
    




