<p-dialog [(visible)]="visible"
          draggable="false"
          styleClass="active"
          resizable="false"
          dismissableMask="true"
          (onHide)="fechar()"
          [style]="{'color':'#2196F3', 'background-color':'#d8d7d7'}"
           >
    <p-header >
        ATENÇÃO ENTRE EM CONTATO COM O PROFISSIONAL
    </p-header>
        <tbody>
            <div >
                <p style="text-align: justify;">
                    Prezado Cliente,
                </p>
                <p style="text-align: justify;">
                    Pela regra do site o cliente somente poderá cancelar um serviço agendado com antecedência de mais de (1)um dia.
                </p>
                <p style="text-align: justify;">
                    Para tanto, o cliente poderá entrar em contato com o profissional para que o mesmo possa cancelar o serviço agendado.
                </p>
            </div>
        </tbody>    
    <p-footer > 
        <div class="row" >
            <div class="col-12 linha-footer"></div>
        </div>
        <button (click)="fechar()"  pButton label="Fechar" class="p-button p-button-rounded p-button-secondary pull-left" ></button>
    </p-footer>
</p-dialog>
