:host ::ng-deep .p-dialog .ui-dialog .ui-dialog-titlebar {
    background-image: none;
    color: #2196F3;
    background-color: #d8d7d7;
}

.active {
    color: #2196F3;
    background-color: #d8d7d7;
}